### Import necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt

### Load the dataset

In [2]:
df=pd.read_csv("bank.csv",delimiter=";")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
pd.set_option('display.max_columns', None)
df
#displaying all the columns

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [4]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
df.shape
#get the shape

(41188, 21)

In [6]:
df.info()
#get the info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [7]:
df.dtypes
#datatypes of all the columns

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [8]:
df.describe()
#statistical description of numerical data is displayed

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [9]:
df.describe(include="all").T
#statistical description of both numerical and categorical data

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,41188.0,NaN,NaN,NaN,40.02406,10.42125,17.0,32.0,38.0,47.0,98.0
job,41188,12,admin.,10422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marital,41188,4,married,24928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,41188,8,university.degree,12168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
default,41188,3,no,32588,NaN,NaN,NaN,NaN,NaN,NaN,NaN
housing,41188,3,yes,21576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan,41188,3,no,33950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contact,41188,2,cellular,26144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,41188,10,may,13769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day_of_week,41188,5,thu,8623,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,41188.0,NaN,NaN,NaN,258.28501,259.279249,0.0,102.0,180.0,319.0,4918.0
campaign,41188.0,NaN,NaN,NaN,2.567593,2.770014,1.0,1.0,2.0,3.0,56.0
pdays,41188.0,NaN,NaN,NaN,962.475454,186.910907,0.0,999.0,999.0,999.0,999.0
previous,41188.0,NaN,NaN,NaN,0.172963,0.494901,0.0,0.0,0.0,0.0,7.0
poutcome,41188,3,nonexistent,35563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp.var.rate,41188.0,NaN,NaN,NaN,0.081886,1.57096,-3.4,-1.8,1.1,1.4,1.4
cons.price.idx,41188.0,NaN,NaN,NaN,93.575664,0.57884,92.201,93.075,93.749,93.994,94.767
cons.conf.idx,41188.0,NaN,NaN,NaN,-40.5026,4.628198,-50.8,-42.7,-41.8,-36.4,-26.9
euribor3m,41188.0,NaN,NaN,NaN,3.621291,1.734447,0.634,1.344,4.857,4.961,5.045
nr.employed,41188.0,NaN,NaN,NaN,5167.035911,72.251528,4963.6,5099.1,5191.0,5228.1,5228.1
y,41188,2,no,36548,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Checking missing values

### 2)a

In [10]:
df.isnull().sum()
#checking for the missing values

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [11]:
### no missing values

### 2)b

In [12]:
#Encoding Categorical Variables using Label Encoding
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [13]:
label_df=['job','marital','education','default','housing','loan','month','day_of_week','poutcome','y']
df[label_df]=df[label_df].apply(label.fit_transform)

In [14]:
df = pd.get_dummies(df, columns=['contact'])
df.head()

,age,job,marital,education,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,contact_cellular,contact_telephone
0,56,3,1,0,0,0,0,6,1,261,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0,0,1
1,57,7,1,3,1,0,0,6,1,149,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0,0,1
2,37,7,1,3,0,2,0,6,1,226,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0,0,1
3,40,0,1,1,0,0,0,6,1,151,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0,0,1
4,56,7,1,3,0,0,2,6,1,307,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0,0,1

### 2)c

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel

In [16]:
X = df.drop(['y'],axis=1)
Y = df[['y']]

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.30, random_state=0)

In [18]:
rf=SelectFromModel(RandomForestClassifier(n_estimators = 100))
rf.fit(X_train,Y_train)

C:\Users\Sagayaraj\anaconda3\lib\site-packages\sklearn\feature_selection\_from_model.py:351: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.estimator_.fit(X, y, **fit_params)

SelectFromModel(estimator=RandomForestClassifier())

In [19]:
rf.get_support()

array([ True,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
        True, False, False])

In [20]:
selected_feat= X_train.columns[(rf.get_support())]
len(selected_feat)

5

In [21]:
print(selected_feat)

Index(['age', 'job', 'duration', 'euribor3m', 'nr.employed'], dtype='object')

### 2)d

### Smote

In [22]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\sagayaraj\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\sagayaraj\anaconda3\lib\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sagayaraj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.5)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\sagayaraj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sagayaraj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sagayaraj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\sagayaraj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from imblearn.over_sampling import SMOTE
from collections import Counter
counter=Counter(Y_train)
print('Before',counter)
sm = SMOTE(random_state = 2)
X_train, Y_train = sm.fit_resample(X_train, Y_train)
counter = Counter(Y_train)
print('After',counter)

Before Counter({'y': 1})
After Counter({'y': 1})

### 3)a

### Logistic

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [25]:
X=df.drop("y",axis=1)
Y=df["y"]

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.30, random_state=0)

In [27]:
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\Sagayaraj\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
predictions=model.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,predictions)

0.9096058913975884

### 3)b

### Adaboost

In [30]:
from sklearn.ensemble import AdaBoostClassifier

In [31]:
clf=AdaBoostClassifier(random_state=0)
clf.fit(X_train,Y_train)

AdaBoostClassifier(random_state=0)

In [32]:
clf.score(X_train,Y_train)

0.909715237071208

In [33]:
clf.score(X_test,Y_test)

0.9116290361738286

### 3)c

### Naive Bayes

In [34]:
from sklearn.naive_bayes import GaussianNB

In [35]:
nb = GaussianNB()

nb.fit(X_train, Y_train.ravel())

GaussianNB()

In [36]:
nb_train_predict = nb.predict(X_train)

from sklearn import metrics

print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(Y_train, nb_train_predict)))
print()

Model Accuracy: 0.8453

In [37]:
nb_test_predict = nb.predict(X_test)

from sklearn import metrics

print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(Y_test, nb_test_predict)))
print()

Model Accuracy: 0.8454

### 3)d

### KNN

In [38]:
from sklearn.neighbors import KNeighborsClassifier

In [39]:
from sklearn.model_selection import cross_val_score
neighbors=list(range(1,40,2))
cv_scores=[]
for k in neighbors:
    knn=KNeighborsClassifier(n_neighbors=k)
    scores=cross_val_score(knn,X,Y,cv=10,scoring='accuracy')
    cv_scores.append(scores.mean())

In [40]:
MSE=[1-x for x in cv_scores]
MSE

[0.21118839936842515,
 0.18894901333223912,
 0.17909187466933518,
 0.1742117841707973,
 0.17071550701265803,
 0.1685790071737825,
 0.1665638370663155,
 0.1654954220724132,
 0.16469410345759083,
 0.1636014343084401,
 0.16263023638309593,
 0.16190176866676786,
 0.1616346428101052,
 0.16151329539214676,
 0.16066350383992667,
 0.15995929027884725,
 0.15915804830574065,
 0.1582110986401284,
 0.15794395509691572,
 0.1570455019507675]

In [41]:
optimal_k=neighbors[MSE.index(min(MSE))]
optimal_k

39

In [42]:
NNH = KNeighborsClassifier(n_neighbors=39  ,metric='euclidean' )

In [43]:
NNH.fit(X_train, Y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=39)

In [46]:
predicted_labels = NNH.predict(X_test)
NNH.score(X_train, Y_train)

0.9137039991675627

In [47]:
predicted_labels = NNH.predict(X_test)
NNH.score(X_test, Y_test)

0.9133284777858703

### 3)e

### SVM

In [ ]:
from sklearn import svm
clf1= svm.SVC(kernel='rbf',gamma=0.025, C=4)

In [ ]:
clf1.fit(X_train,Y_train)

In [ ]:
clf1.score(X_train,Y_train)

In [ ]:
clf1.score(X_train,Y_train)

### 4)

In [54]:
table = [['MODEL', 'TRAIN_SCORE', 'TEST_SCORE'], ['logistic', '',0.9096058913975884], ['AdaBoost', 0.909715237071208, 0.9116290361738286], ['Naive bayes', 0.8453,  0.8454], ['KNN',0.9137039991675627,0.9133284777858703], ['SVM', 0.8989, 0.9047]]

In [51]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

In [52]:
from tabulate import tabulate

In [55]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒═════════════╤════════════════════╤══════════════╕
│ MODEL       │ TRAIN_SCORE        │   TEST_SCORE │
╞═════════════╪════════════════════╪══════════════╡
│ logistic    │                    │     0.909606 │
├─────────────┼────────────────────┼──────────────┤
│ AdaBoost    │ 0.909715237071208  │     0.911629 │
├─────────────┼────────────────────┼──────────────┤
│ Naive bayes │ 0.8453             │     0.8454   │
├─────────────┼────────────────────┼──────────────┤
│ KNN         │ 0.9137039991675627 │     0.913328 │
├─────────────┼────────────────────┼──────────────┤
│ SVM         │ 0.8989             │     0.9047   │
╘═════════════╧════════════════════╧══════════════╛

### From the above table,we can infer that KNN gives best accuracy